*{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	min-width: 1280px;
	font-family: "SimHei";
}
#header{
	width:100%;
	height:56px;
	background: #228abf;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: 51px 11px;
}
#header input{
	margin:14px 21px 14px 63.44%;
	width:275px;
	height:28px;
	line-height: 28px;
	border-radius: 40px;
	border:0;
	outline: none;
	padding-left: 40px;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: 15px center;

}
#header a{
	text-decoration: none;
	font-size: 12px;
	color:#fff;
	line-height: 12px;
	display:inline-block;
	padding:22px 0 22px 20px;
	background-image: url(images/loginIn.png);
	background-repeat: no-repeat;
	background-position: left 18px;
}
/*侧边栏样式*/
#sidebar{
	width:260px;
	height:1188px;
	background:#2a2e3d;
	padding:20px 0 0 0;
	float:left;
}
#sidebar .user-info{
	overflow:hidden;
	margin:0 0 23px 45px;
}
#sidebar .user-info img{
	padding:5px 5px;
	border:1px solid #e5e5e5;
	border-radius: 50%;
	float:left;
}
#sidebar .user-info p{
	font-size: 16px;
	color:#6e8095;
}
#sidebar .user-info p.user-name{
	float:left;
	height:59px;
	line-height: 59px;
	display:inline-block;
	margin-left: 23px;
	font-size: 21px;
	color:#e5e5e5;
}
#sidebar .user-info .collection{
	clear: both;
	margin: 25px 0 0 18px;
	padding-right: 30px;
	width:35px;
	float:left;
	border-right: 1px solid #313545;
}
#sidebar .user-info .collection p{
	width:35px;
}
#sidebar .user-info .fans{
	float:left;
	margin-top: 25px;
	margin-left: 30px;
}
#sidebar li{
	list-style: none;
	font-size: 12px;
	line-height: 16px;
	cursor:pointer;

}
#sidebar .main-list{

}
#sidebar .main-list>li{
	padding:20px 0 20px 70px;
	background-repeat: no-repeat;
	background-position: 45px 21px;
	color:#637D93;
}
#sidebar .main-list>li:hover{
	background-color:#393d4e;
	color:#fff;
}
#sidebar .main-list .main-list-1{
	background-image: url(images/main-list-1.png);
	background-position: 45px 10px;
	background-color: #393d4e;
	padding-top: 10px;
	color:#fff;
}
#sidebar .main-list .main-list-2,.main-list-4,.main-list-5{
	background-image: url(images/main-list-2.png);
}
#sidebar .main-list .main-list-2:hover,.main-list-4:hover,.main-list-5:hover{
	background-image: url(images/main-list-2-hover.png);
}
#sidebar .main-list .main-list-3{
	background-image: url(images/main-list-3.png);
}
#sidebar .main-list .main-list-3:hover{
	background-image: url(images/main-list-3-hover.png);
}
#sidebar .main-list .main-list-6{
	background-image: url(images/main-list-6.png);
}
#sidebar .main-list .main-list-6:hover{
	background-image: url(images/main-list-6-hover.png);
}
#sidebar .main-list .main-list-1 .file-list{
	text-indent: 3em;
	cursor:default;
}
#sidebar .main-list .main-list-1 .file-list .file-2{
	color:#fff;

}
#sidebar .main-list .file-list>li{
	margin:10px 0;
	background-repeat: no-repeat;
	background-position: left center,15px center;
}
#sidebar .main-list .main-list-1 .file-list .file-1{
	background-image: url(images/pic-2.png),url(images/file_close.png);
	color:#637D93;
}
#sidebar .main-list .main-list-1 .file-list .file-2{
	background-image: url(images/pic-3.png),url(images/file_open.png);
	background-position: left 1px,13px 2px;
}
#sidebar .main-list .main-list-1 .file-list .file-3{
	background-image: url(images/pic-2.png),url(images/file_close.png);
	color:#637D93;
}
#sidebar .main-list .main-list-1 .file-list .doc-list{
	text-indent: 4em;
	cursor:default;
}
#sidebar .main-list .main-list-1 .file-list .doc-list>li{
	margin:10px 0;
	background-repeat: no-repeat;
	background-position:2.7em center;
}
#sidebar .main-list .main-list-1 .file-list .doc-list .doc-list-1{
	background-image: url(images/doc_open.png);
}
#sidebar .main-list .main-list-1 .file-list .doc-list .doc-list-2{
	background-image: url(images/doc_close.png);
	color:#637D93;
}

/*主体样式*/
#main{
	background:#eeedec;
	width:calc(100% - 260px);
	float:left;
	padding-bottom: 155px;
}
#main .main-title{
	list-style: none;
	height:30px;
	background:#fff;
	padding-left: 30px;
	width:1020px;
}
#main .main-title li{
	float:left;
	font-size: 12px;
	line-height: 30px;
	cursor:pointer;
	margin-right: 10px;
	color:#aaaaaa;
}
#main .main-title li:hover{
	color:#228ABF;
}
#main .main-content{
	margin:20px 0 0 60px;
}
#main .query{
	margin-bottom:10px;
	width:700px;
	height:55px;
	background-color:#fff;
	padding:15px 160px 15px 30px;
	background-image:url(images/transform.png);
	background-repeat: no-repeat;
	background-position: 349px 27px;
	position:relative;
	border:1px solid #dddfe1;
}
#main .query label{
	font-size: 12px;
	color:#aaaaaa;
	margin-right: 5px;
}
#main .query select,#main .query input{
	border-color: #c2c3c3;
	-webkit-appearance:none;
	background:url(images/select.png);
	background-repeat: no-repeat;
	background-position: 93% center;
	text-indent: 0.5em;
	height:25px;
	margin:0 37px 5px 0;
}
#main .query #query-item{
	width:70px;

}
#main .query #query-item option{
	text-align: center;
}
#main .query #buyer{
	width:120px;
	margin-right: 60px;
}
#main .query #seller{
	width:120px;
	margin-right: 60px;
}
#main .query .seller-label{
	margin-left: 164px;
}
#main .query #date{
	width:120px;
	border:1px solid #c2c3c3;
	background:none;
	margin-right: 12px;
}
#main .query #time{
	width:70px;
	margin-right: 0;
}
#main .query #total-person{
	width:70px;
	margin-right: 15px;
}
#main .query #auction-item{
	width: 120px;
	margin-right: 0;
}
#main .query .change-word{
	font-size: 12px;
	color:#fff;
	position:absolute;
	left:364px;
	top:37px;
}
#main .query button{
	position:absolute;
	left:758px;
	top:30px;
	width:50px;
	height:25px;
	color:#fff;
	font-size: 12px;
	border:none;
	background:#388ac1;
	cursor:pointer;
}
#main .time-list{
	list-style: none;
	width:890px;
	overflow:hidden;
	margin-bottom: 22px;
}
#main .time-list>li{
	float:left;
	width:110px;
	height:65px;
	border:1px solid #dddfe1;
	border-bottom: none;
	border-right: none;
	background:#fff;
	margin-right: 5px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor:pointer;
}
#main .time-list .time-item{
	padding:10px 0 0 30px;
}
#main .time-list .time-item:hover{
	border-top: 3px solid #4389c9;
	padding-top: 8px;
}
#main .time-list .time-item ul li:first-child{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	margin-bottom: 5px;
}
#main .time-list .time-item ul li:last-child{
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#aeaeae;
}
#main .time-list .time-item ul li:last-child span{
	font-size: 21px;
	color:#ec6500;
}
#main .time-list .turn{
	background-position: center center;
	background-repeat: no-repeat;
}
#main .time-list .turn:hover{
	background-color: #dddfe1;
}
#main .time-list .turn-left{
	width:30px;
	background-image:url(images/turn_left.png);
}
#main .time-list .turn-right{
	width:30px;
	background-image:url(images/turn_right.png);
}
#main .time-list .history{
	width:128px;
	margin-right: 0;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	line-height:65px;
	text-indent: 62px;
	background-image: url(images/history.png);
	background-repeat: no-repeat;
	background-position: 19px center;
}
#main .statistic-list{
	overflow:hidden;
	width:890px;
	margin-bottom: 14px;
}
#main .statistic-list>p{
	font-size: 12px;
}
#main .statistic-list>li{
	width:calc((890px - 90px) / 4);
	height:72px;
	background:#fff;
	float:left;
	margin-right: 30px;
	border:1px solid #dddfe1;
	box-sizing: border-box;
	position:relative;
	border-radius: 4px;
}
#main .statistic-list .statistic-item1{
	border-left: 4px solid #43b29d;
}
#main .statistic-list .statistic-item2{
	border-left: 4px solid #388ac1;
}
#main .statistic-list .statistic-item3{
	border-left: 4px solid #d04a36;
}
#main .statistic-list .statistic-item4{
	border-left: 4px solid #e2cd46;
	margin-right: 0;
}
#main .statistic-list>li ul{
	margin:20px 0 0 13px;
}
#main .statistic-list>li ul li:first-child{
	font-size: 12px;
	margin-bottom: 10px;
}
#main .statistic-list>li ul li:last-child{
	font-size:10px;
	color:#aaa;
}
#main .statistic-list>li p{
	width:60px;
	height:45px;
	position:absolute;
	top:12px;
	right:10px;
}
#main .statistic-list .statistic-item1 p{
	background:#43b29d;
}
#main .statistic-list .statistic-item2 p{
	background:#388ac1;
}
#main .statistic-list .statistic-item3 p{
	background:#d04a36;
}
#main .statistic-list .statistic-item4 p{
	background:#e2cd46;
}
#main .project-list{
	width:890px;
	overflow:hidden;
}
#main .project-list>li{
	height:355px;
	float:left;
	border:1px solid #dddfe1;
	background:#fff;
	box-sizing: border-box;
	border-radius: 10px;
	overflow:hidden;
}
#main .project-list>li .project-title{
	height:40px;
	line-height: 40px;
	text-indent:21px;
	background:#f4f5f7;
	border-bottom: 1px solid #dddfe1;
	font-size: 12px;
	color:#afb0b0;
}
#main .project-list .project-1{
	width:530px;
	margin:0  9px 9px 0;
	position:relative;
}
#main .project-list .project-1 ul{
	margin:13px 0 0 20px;
	overflow:hidden;
}
#main .project-list .project-1 ul>li{
	float:left;
	margin-right: 5px;
	box-sizing: border-box;
}
#main .project-list .project-1 label{
	width:85px;
	height:28px;
	display:block;
	background:#ededf0;
	border:1px solid #fff;
	border-bottom:1px solid #dddfe1;
	border-radius: 4px 4px 0 0;
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	cursor:pointer;
	z-index:1;
	position:relative;
}
#main .project-list .project-1 input{
	display:none;
}
#main .project-list .project-1 input:checked ~ label{
	background:#fff;
	border:1px solid #dddfe1;
	border-bottom:1px solid #fff;
	z-index: 9;
}
#main .project-list .project-1 ul .tab-content{
	position:absolute;
	left:58px;
	top:110px;
	padding:20px 38px;
	border-collapse: collapse;
	font-family: "SimSun";
	color:#535353;
	border:1px solid #dddfe1;
	visibility:hidden;
	z-index: 1;
}
#main .project-list .project-1 input:checked ~ .tab-content{
	visibility:visible;
	border:none;
}
#main .project-list .project-1 ul .tab-content td{
	height:30px;
	width:103px;
	line-height: 30px;
	text-align: center;
}
#main .project-list .project-1 .tab-content td:hover{
	background:#f4f6f7;
}
#main .project-list .project-1 .table-container{
	width:490px;
	height:250px;
	margin-left: 20px;
	border:1px solid #dddfe1;
	border-radius: 0 5px 5px 5px;
	position:absolute;
	top: 83px;
}
#main .project-list .project-2{
	width:350px;
	font-family: "Microsoft YaHei";
	font-size: 12px;
}
#main .project-list .project-2 ul{
	margin:17px 0 103px 35px;
}
#main .project-list .project-2 ul>li{
	padding:0 0  8px 15px;
}
#main .project-list .project-2 ul>li::before{
	display:block;
	color:#c3c2c2;
	margin-bottom: 7px;
}
#main .project-list .project-2 ul .title{
	width:265px;
	border-bottom: 1px solid #dddfe1;
}
#main .project-list .project-2 ul .title::before{
	content:"标题";
}
#main .project-list .project-2 ul .price{
	float:left;
	width:80px;
	border-right: 1px solid #dddfe1;
}
#main .project-list .project-2 ul .price::before{
	content:"价格";
}
#main .project-list .project-2 ul .response{
	width:202px;
	float:left;
}
#main .project-list .project-2 ul .response::before{
	content:"负责人";
}
#main .project-list .project-2 ul .detail{
	clear:both;
	border-top: 1px solid #dddfe1;
}
#main .project-list .project-2 ul .detail::before{
	content:"详细描述";
}
#main .project-list .project-2 form{
	margin-left: 35px;
	padding-top: 13px;
	border-top: 1px solid #dddfe1;
	width:265px;
}
#main .project-list .project-2 form #secrect{
	height:16px;
	vertical-align:middle;
}
#main .project-list .project-2 form label{
	color:#c3c2c2;
}
#main .project-list .project-2 form .search{
	font-family: "SimHei";
	width:50px;
	height:25px;
	border:none;
	background:#388ac1;
	color:#fff;
	border-radius: 3px;
	float:right;
	margin-top: -8px;
	cursor:pointer;

}
#main .project-list .calendar{
	width:350px;
	margin-right: 10px;
}
#main .project-list .calendar form{
	margin:10px 0 10px 22px;
}
#main .project-list .calendar form select,input{
	height:20px;
	border:1px solid #dddfe1;
	color:#636363;
	border-radius: 3px;
}
#main .project-list .calendar form .year{
	width:63px;
}
#main .project-list .calendar form .month{
	width:85px;
	text-indent: 20px;

}
#main .project-list .calendar form .mark-date{
	width:75px;
}
#main .project-list .calendar form input{
	width:65px;
	background:#fff;
	cursor:pointer;
}
#main .project-list .calendar form input:hover{
	color:#fff;
	background:#636363;
}
#main .project-list .calendar table{
	margin-left: 22px;
	border-top: 2px solid #d9eaf7;
}
#main .project-list .calendar table td,#main .project-list .calendar table th{
	width:42px;
	height:42px;
	text-align: center;
	font-size: 12px;
}
#main .project-list .calendar table th{
	height:28px;
	font-weight: normal;
	border-bottom: 1px solid #dddfe1;
}
#main .project-list .calendar table td{
	cursor:pointer;
	box-sizing: border-box;
}
#main .project-list .calendar table td.blank{
	cursor:default;
}
#main .project-list .calendar table td:hover{
	border:1px solid #f5c62b;
	background:#dddfe1;
}
#main .project-list .calendar table td.blank:hover{
	border:none;
	background:none;
}
#main .project-list .calendar table .weekend,.festival p{
	color:#f50a0a;
}
#main .project-list .calendar table .weekend p{
	color:#000;
}
#main .project-list .car{
	width:530px;
	height:355px;
}
#main .project-list .car table{
	margin:15px 0 0 40px;
	border-collapse: collapse;
	height:274px;
}
#main .project-list .car table tr{
	cursor:pointer;
}
#main .project-list .car table tr:hover{
	background:#f4f5f7;
}
#main .project-list .car table td{
	height:24px;
	text-indent: 30px;
	font-size: 12px;
	color:#323333;
	border:1px solid #c9cacb;
}
#main .project-list .car table .last-line td{
	border-bottom: none;
}
#main .project-list .car table th{
	height:24px;
	font-size: 13px;
	font-weight: normal;
	text-indent: 20px;
	border:1px solid #c9cacb;
}
#main .project-list .car table .column-1{
	width:68px;
}
#main .project-list .car table .column-2{
	width:92px;
}

#main .project-list .car table .column-3{
	width:290px;
}
#main .project-list .car table .column-3 progress{
	width:168px;
	height:5px;
	background:#dcdcdc;
	color:#9fd8f4;/*IE10*/
	float:right;
	margin-right: 20px;
	border:none;
}
#main .project-list .car table .column-3 progress::-webkit-progress-bar{
	background:#dcdcdc;
}
#main .project-list .car table .column-3 progress::-moz-progress-bar {
	background: #9fd8f4;
}
#main .project-list .car table .column-3 progress::-webkit-progress-value{
	background:#9fd8f4;
}
#main .project-list .car table .column-3 .progress-1{
	color:#ec6e51;/*IE10*/
}
#main .project-list .car table .column-3 .progress-1::-moz-progress-bar {
	background: #ec6e51;
}
#main .project-list .car table .column-3 .progress-1::-webkit-progress-value{
	background:#ec6e51;
}
#main .project-list .car table .column-3 .progress-2{
	color:#ef8150;/*IE10*/
}
#main .project-list .car table .column-3 .progress-2::-moz-progress-bar {
	background: #ef8150;
}
#main .project-list .car table .column-3 .progress-2::-webkit-progress-value{
	background:#ef8150;
}
#main .project-list .car table .column-3 .progress-3{
	color:#f1934f;/*IE10*/
}
#main .project-list .car table .column-3 .progress-3::-moz-progress-bar {
	background: #f19e4f;
}
#main .project-list .car table .column-3 .progress-3::-webkit-progress-value{
	background:#f19e4f;
}